In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import *
from sqlalchemy.orm import sessionmaker
from geopy.distance import geodesic
from datetime import datetime
import datetime
import re
from datetime import datetime as dt
import datetime
#source of data:
#https://openflights.org/data.html#airport

In [ ]:
#importing data
routes_url = "https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat"
planes_url = "https://raw.githubusercontent.com/jpatokal/openflights/master/data/planes.dat"
airports_url = "https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat"
airlines_url = "https://raw.githubusercontent.com/jpatokal/openflights/master/data/airlines.dat"
routes = pd.read_csv(routes_url, index_col = 0, names = ['Airline_IATA_ICAO','Airline_ID','Source_Airport_IATA_ICAO','Source_Airport_ID', 'Destination_Airport_IATA_ICAO','Destination_Airport_ID', 'Codeshare', 'Stops', 'Plane_Type'])
planes = pd.read_csv(planes_url, index_col = 0, names = ['Aircraft_Name','IATA_3','ICAO_4'])
airports = pd.read_csv(airports_url, index_col = 0, names = ['Airport_Name', 'City', 'Country', 'IATA_3', 'ICAO_4', 'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST', 'DB_Timezone', 'Type', 'Source'])
airlines = pd.read_csv(airlines_url, index_col = 0, names = ['Name','Alias','IATA_2','ICAO_3','Callsign','Country','Active'])

In [ ]:
#Creating Random Airline Sample
airline_clean = airlines[['Name','Country','IATA_2']]
airline_clean = airline_clean[(airline_clean.IATA_2 != '\\N') & (airline_clean.IATA_2 != ';;')].dropna()
random_airline_sample = airline_clean.sample(n=100)
random_airline_sample.head()

In [ ]:
#Creating Random Airports Sample
airports_clean = airports[['Airport_Name','City','Country','IATA_3']]
airports_clean = airports_clean[airports_clean.IATA_3 != '\\N'].dropna()
print(airports_clean.shape[0])
random_airport_sample = airports_clean.sample(n=500)
random_airport_sample.head()

In [ ]:
#Creating Random Aiplane Sample
print(planes.ICAO_4.nunique())
planes.head()
planes_clean = planes.drop(columns = 'ICAO_4')
planes_clean = planes_clean[planes.IATA_3 != '\\N']
planes_clean['Seat_Capacity'] = np.random.randint(150, 400, planes_clean.shape[0])
planes_clean = planes_clean.reset_index()
planes_clean.head()

In [ ]:
#Creating Random Flights Sample
#Longitude + latitude for flight time estimation 
routes_clean = routes.drop(columns = ['Airline_ID', 'Source_Airport_ID', 'Destination_Airport_ID', 'Codeshare'])
routes_clean = routes_clean.reset_index()
routes_clean.head()

In [ ]:
#Uploading to sql database
engine = create_engine('mysql://root:password@localhost/air', echo = False)
#uploading airline data
airline_sql = random_airline_sample[['Name']].drop_duplicates()
airline_sql.to_sql('airline',con=engine, index = False,if_exists='append')

In [ ]:
#uploading airports
random_airport_sample.columns = ['Name','City','Country','Code']
random_airport_sample = random_airport_sample.drop_duplicates()
random_airport_sample.to_sql('airport',con=engine, index=False, if_exists = 'append')

In [ ]:
#uploading airplanes
engine = create_engine('mysql://root:password@localhost/air', echo = False)
planes_clean.columns = ['aircraft_name','id_num','seat_capacity']
planes_clean = planes_clean.drop_duplicates(subset = 'id_num')
planes_clean.to_sql('airplane', con=engine, index = False, if_exists = 'append')

In [ ]:
#creating the airline_stock database
sql_airlines = pd.read_sql_table('airline',con=engine)
sql_planes = pd.read_sql_table('airplane', con=engine)
sql_airline_stock = pd.read_sql_table('airline_stock', con=engine)

#name of the airline, name of the airplane model, unique_id
line_directory = {}
update_frame = sql_airline_stock.iloc[0:0]
for line in sql_airlines.name:
    line_directory[line] = (sql_airline_stock[sql_airline_stock.airline_name == line]).model
    old_occurences = (line_directory[line]).value_counts()
    old_dict = map(old_occurences.index, old_occurences)
    num_planes = np.random.randint(25,100)
    start = np.random.randint(1, sql_planes.shape[0]-1)
    end = np.random.randint(start+1, sql_planes.shape[0])
    temporary_stock = sql_planes[start:end]
    temp_sample = temporary_stock.sample(num_planes, replace = True)
    occurences = temp_sample.id_num.value_counts()
    for name, count_planes in zip(occurences.index.tolist(), occurences):
        start = 1
        if name in old_dict:
            start = old_dict[name] + 1
        for i in range(count_planes):
            gen_name = '{0}_{1:04d}'.format(name,start + i)
            update_frame = update_frame.append(pd.Series([name,gen_name,line], index=update_frame.columns ), ignore_index=True)

In [ ]:
#uploading to sql database
update_frame = update_frame.drop_duplicates()
update_frame.to_sql('airline_stock', con=engine, index = False, if_exists = 'append')

In [ ]:
#Creating Flight Table
#must consider the flight (Think of a date_range to do it for (i'm thinking from October to February 2020
#must make sure that the airplane is available at the time (which is fine) - should pull from timetables?
sql_airlines = pd.read_sql_table('airline',con=engine)
sql_planes = pd.read_sql_table('airplane', con=engine)
sql_airline_stock = pd.read_sql_table('airline_stock', con=engine)
sql_airports = pd.read_sql_table('airport', con=engine)
engine = create_engine('mysql://root:password@localhost/air', echo = False)

sql_airports['longitude'] = 0
sql_airports['latitude'] = 0

sql_airports = sql_airports.drop(['latitude','longitude'], axis = 1)

airports_to_sql = airports[['Airport_Name','Longitude','Latitude']]

# sql_output.to_sql('airport', con = engine, index = False, if_exists = 'append')

Session = sessionmaker(bind=engine)
session = Session()
metadata = MetaData()
    
sql_output_table = Table('airport', metadata, autoload=True, autoload_with=engine)

for name in sql_airports.name:
    longitude = (airports[airports.Airport_Name == name]).Longitude.iloc[0]
    latitude = (airports[airports.Airport_Name == name]).Latitude.iloc[0]
    smtp = sql_output_table.update().where(sql_output_table.c.name == name).values(longitude=longitude, latitude=latitude)
    engine.connect().execute(smtp)

In [ ]:
#Creating Flights Table
#We need a unique flight_number (will be an integer(e.g.) current flight
#in system and an identifier which will be the first two capital letters of airline name)
#we must think of the way in which the system will handle airplane assignment 
#now I have to assign 

#execute flight logs (wow - this is going to get fucking complicated real quick)
#We will start the flight logs from 5 days form now

#Build the routes table first
sql_airlines = pd.read_sql_table('airline',con=engine)
sql_planes = pd.read_sql_table('airplane', con=engine)
sql_airline_stock = pd.read_sql_table('airline_stock', con=engine)
sql_airports = pd.read_sql_table('airport', con=engine)
sql_flights = pd.read_sql_table('flight', con=engine)

#take routes and join them with the airline, and the airports, and output a table 

def flight_time(x1, y1, x2, y2):
    speed = 560 #in mph
    first = (x1, y1)
    second = (x2, y2)
    distance = geodesic(first, second).miles
    return datetime.timedelta(hours=(distance/speed))

def price(flight_time, rate_per_minutes):
    minutes = flight_time.total_seconds()/60
    return round((np.log(minutes) * rate_per_minutes), 2)

# pd.to_datetime(str(distance/speed), format = '%H%M')

merge_1 = pd.merge(routes_clean, sql_airports, left_on = 'Source_Airport_IATA_ICAO', right_on = 'code')
merge_1 = merge_1.drop(['Stops','Plane_Type','city','code','country'], axis = 1)
merge_1.columns = ['airline_id','source_code','destination_code','source_name','source_latitude','source_longitude']
merge_2 = pd.merge(merge_1, sql_airports, left_on = 'destination_code', right_on = 'code')
merge_2 = merge_2.drop(['city','code','country'], axis = 1)
merge_2.columns = ['airline_id','source_code','destination_code','source_name','source_latitude','source_longitude','destination_name','destination_latitude','destination_longitude']
merge_2['flight_time'] = merge_2.apply(lambda row : flight_time(row['source_latitude'],row['source_longitude'],
                                                    row['destination_latitude'], row['destination_longitude']), axis = 1)
merge_2['flight_time'] = merge_2['flight_time'].dt.round('1min')
merge_2['price'] = merge_2.apply(lambda row : price(row['flight_time'], 50), axis = 1)
merge_3 = pd.merge(merge_2, airline_clean, left_on = 'airline_id', right_on = 'IATA_2')
merge_3 = merge_3.drop(['airline_id','source_code','destination_code','source_latitude','source_longitude','destination_latitude','destination_longitude','Country','IATA_2'], axis = 1)

# Generate flight_id

#Merge with plane table

#

# class Flight(db.Model):
#     flight_num = db.Column(db.String(64), primary_key = True)
#     price = db.Column(db.Float(), nullable = False)
#     airline_name = db.Column(db.String(64), db.ForeignKey('airline.name'), primary_key = True)
#     airplane_id = db.Column(db.String(64), db.ForeignKey('airplane.id_num'), nullable = False)
#     arrival = db.Column(db.String(64), db.ForeignKey('airport.name'), nullable = False)
#     departure = db.Column(db.String(64), db.ForeignKey('airport.name'), nullable = False)
#     arrival_time = db.Column(db.DateTime, nullable = False)
#     departure_time = db.Column(db.DateTime, nullable = False)
#     tickets = db.relationship('Ticket', backref = 'flight', lazy = True)

In [ ]:
sql_airports

In [ ]:
sql_airports.to_csv('airports.csv')

In [ ]:
flight_frame

In [ ]:
#Another method for generating random flight data
import re
from datetime import datetime as dt
import datetime

def flight_time(x1, y1, x2, y2):
    speed = 560 #in mph
    first = (x1, y1)
    second = (x2, y2)
    distance = geodesic(first, second).miles
    return datetime.timedelta(hours=(distance/speed))

def price(flight_time, rate_per_minutes):
    minutes = flight_time.total_seconds()/60
    return round((np.log(minutes) * rate_per_minutes), 2)

engine = create_engine('mysql://root:password@localhost/air', echo = False)
sql_airline_stock = pd.read_sql_table('airline_stock', con=engine)
sql_airport = pd.read_sql_table('airport', con=engine)
sql_airline_stock

flight_frame = pd.DataFrame(columns = ['flight_num','price','airline_name','airplane_model','airplane_id','departure','arrival','departure_date','arrival_date'])
for index, row in sql_airline_stock.iterrows():
    num = 1
#     name_lst = re.findall('[A-Z][^A-Z]*', row['unique_id'])
#     print(name_lst)
#     if len(name_lst) > 1:
#         abrev = name_lst[0][0] + name_lst[1][0]
#     else:
#         abrev = name_lst[0][0] + (name_lst[0][1]).upper()
    departure = sql_airport.sample(1)
    start = dt(year = 2019, month = 10, day = 20, hour = 0, minute = 0)
    end = dt(year = 2020, month = 2, day = 20, hour = 0, minute = 0)
    print(flight_frame.shape[0])
    while(start < end):
        flight_num = '{}{:06d}'.format(row['unique_id'],num)
        destination = sql_airport.sample(1)
        prob_maintain = np.random.randint(0,5)
        if prob_maintain <= 2:
            start = start + datetime.timedelta(hours = 12)
            continue
        while(destination.iloc[0].name == departure.iloc[0].name):
            destination = sql_airport.sample(1)
        time_to_dest = flight_time(departure.iloc[0]['latitude'], departure.iloc[0]['longitude'], destination.iloc[0]['latitude'], destination.iloc[0]['longitude'])
        flight_price = price(time_to_dest, 100)
        flight_arrival = start + time_to_dest
        flight_frame = flight_frame.append(pd.Series([flight_num,flight_price,row['airline_name'],row['model'],row['unique_id'],departure.iloc[0]['name'],destination.iloc[0]['name'],start,flight_arrival], index=flight_frame.columns ), ignore_index=True)
        departure = destination
        start = start + (time_to_dest + datetime.timedelta(hours = 5))
        num += 1

In [ ]:
flight_frame

In [ ]:
flight_frame.to_sql('flight',con = engine, index = False, if_exists = 'append')

In [ ]:
departure.iloc[0]['name']

In [ ]:
flight_frame.columns = ['flight_num','price','airline_name','airplane_id','departure','arrival','departure_date','arrival_date']

In [ ]:
flight_frame

In [7]:
# #Airports
# #The number of flights per airplane + the airplane's unique_id
# flight_num = '{}{:06d}'.format(row['unique_id'],num)
# #must be added to the aiport database
# JFK_Tupple = ("John F. Kennedy Airport", "New York", "JFK", "United States", 40.6413, 73.7781)
# Pudong_Tupple = ("Pudong International Airport", "Shanghai", "PVG", "China", 31.1443, 121.8083)
# Price = 502.23
# airline_name = "United Airlines"
# id, seat capacity, 
# 321, 166, Airbus A321


airplane_ids = ['330_0001','340_0001','350_0001','380_0001']
airline = "United Airlines"
departure = "John F. Kennedy Airport"
arrival = "Pudong International Airport"
price = 502.23
models = ['330','340','350','380']

flight_frame = pd.DataFrame(columns = ['flight_num','price','airline_name','airplane_model','airplane_id','departure','arrival','departure_date','arrival_date'])

for i in range(len(airplane_ids)):
    num = 1
    start = dt(year = 2019, month = 11, day = 18, hour = 0, minute = 0)
    end = dt(year = 2020, month = 3, day = 20, hour = 0, minute = 0)
    departure = "John F. Kennedy Airport"
    while(start < end):
        flight_num = '{}{:06d}'.format(airplane_ids[i],num)
        destination = arrival
        prob_maintain = np.random.randint(0,5)
        if prob_maintain <= 2:
            start = start + datetime.timedelta(hours = 12)
            continue
        time_to_dest = datetime.timedelta(hours = 13)
        flight_price = price
        flight_arrival = start + time_to_dest
        flight_frame = flight_frame.append(pd.Series([flight_num,flight_price,airline,models[i],airplane_ids[i],departure,arrival,start,flight_arrival], index=flight_frame.columns ), ignore_index=True)
        arrival = departure
        departure = destination
        start = start + (time_to_dest + datetime.timedelta(hours = 4))
        num += 1

#Attributes to fill
# 1. Flight_Number
# 2. Price
# 3. airline_name
# 4. arrival
# 5. departure
# 6. arrival_date
# 7. departure_date
# 8. airplane_id
# 9. airplane_model
# 10. status 

#Remember to FIX THE STATUS FOR ALL OF THE AIRPLANES
#Meaning you have to add data to the status table
#Also meaning that the flights that landed will be labeled as "arrived"
#Options: "Delayed" "On Time" "Arrived" "Cancelled"

In [8]:
flight_frame

,flight_num,price,airline_name,airplane_model,airplane_id,departure,arrival,departure_date,arrival_date
0,330_0001000001,502.23,United Airlines,330,330_0001,John F. Kennedy Airport,Pudong International Airport,2019-11-19 00:00:00,2019-11-19 14:00:00
1,330_0001000002,502.23,United Airlines,330,330_0001,Pudong International Airport,John F. Kennedy Airport,2019-11-20 06:00:00,2019-11-20 20:00:00
2,330_0001000003,502.23,United Airlines,330,330_0001,John F. Kennedy Airport,Pudong International Airport,2019-11-21 00:00:00,2019-11-21 14:00:00
3,330_0001000004,502.23,United Airlines,330,330_0001,Pudong International Airport,John F. Kennedy Airport,2019-11-24 06:00:00,2019-11-24 20:00:00
4,330_0001000005,502.23,United Airlines,330,330_0001,John F. Kennedy Airport,Pudong International Airport,2019-11-26 00:00:00,2019-11-26 14:00:00
...,...,...,...,...,...,...,...,...,...
324,380_0001000078,502.23,United Airlines,380,380_0001,John F. Kennedy Airport,John F. Kennedy Airport,2020-03-08 18:00:00,2020-03-09 08:00:00
325,380_0001000079,502.23,United Airlines,380,380_0001,John F. Kennedy Airport,John F. Kennedy Airport,2020-03-11 12:00:00,2020-03-12 02:00:00
326,380_0001000080,502.23,United Airlines,380,380_0001,John F. Kennedy Airport,John F. Kennedy Airport,2020-03-13 06:00:00,2020-03-13 20:00:00
327,380_0001000081,502.23,United Airlines,380,380_0001,John F. Kennedy Airport,John F. Kennedy Airport,2020-03-14 12:00:00,2020-03-15 02:00:00
328,380_0001000082,502.23,United Airlines,380,380_0001,John F. Kennedy Airport,John F. Kennedy Airport,2020-03-18 06:00:00,2020-03-18 20:00:00